<!-- <app-news *ngIf="app.newsActive && app.announcement" (onNewsHide)="app.onNewsClose()" [announcement]="app.announcement"></app-news> -->
<div class="layout-wrapper {{config.dark ? 'layout-wrapper-dark' : 'layout-wrapper-light'}}"
    [ngClass]="{'layout-news-active': ''}">
    <app-topbar (menuButtonClick)="onMenuButtonClick()"></app-topbar>
    <app-section-header></app-section-header>
    <!-- <app-config></app-config> -->
    <app-menu (menuButtonClick)="onMaskClick()" [active]="menuActive"></app-menu>
    <!-- <div class="layout-mask" [ngClass]="{'layout-mask-active': menuActive}"></div> -->

    <div class="layout-content" (click)="onMaskClick()">
        <div class="layout-content-inner h-full">
            <!-- <app-alert></app-alert> -->
            <!-- <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages> -->
            <p-toast></p-toast>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>