.form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .form-filter {
        position: absolute;
        left: 5px;
        top: 0;
        height: 100%;
        background-color: var(--surface-overlay);
        width: 300px;
        user-select: none;
        transition: transform .4s cubic-bezier(.05, .74, .2, .99);
        display: flex;
        flex-direction: column;
        border: inset;
        background-color: #f5f5f5;
        // border-right: 1px;
        border-width: 0 0 0 0;
        border-color: gray;
        // opacity: 0.90;
        transition-property: width;
        transition-duration: 4s;
        transition-delay: 2s;
        &.active {
            width: 300px;         
            //transform: translateX(0);
        }
        &.hide {
            width:10px;
            display: none;
            //transform: translateX(0);
        }
    }
    .filter-expander {
        position: absolute;
        left: 5px;
        top: 0;
        height: 100%;
        background-color: var(--surface-overlay);
        user-select: none;
        transition: transform .4s cubic-bezier(.05, .74, .2, .99);
        display: flex;
        flex-direction: column;
        border: inset;
        background-color: #f5f5f5;
        // border-right: 1px;
        border-width: 0 0 0 0;
        border-color: gray;
        // opacity: 0.90;

        &.active {
            width: 30px;
            transition: width 0.3s ease-out;
            transform: translateX(0);
        }
        &.hide {
            display: none;
            transition: width 0.3s ease-out;
            transform: translateX(0);
        }
    }
   
    .form-content {
        margin-left: 320px;
        // padding-top: 70px;
        padding-top: 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: calc(100% - 30px);
        &.full{
            margin-left: 30px;
        }
       
    }
    .form-action{
        top: 0;
        bottom: 0;
        margin: 0;
        left: 30px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        max-height: 15vh;

        >button {
            width: 7rem;
            left: 30px;
            height: auto;
        }
    }
    i {
        cursor: pointer;
        
    }
}

.field-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;

    span {
        font-weight: 600;
        font-size: large;
    }

    &.field-label {
        width: 40%;
        margin: 0;
    }

    &.field-input {
        width: 60%;
        margin: 0;
    }

    &.field-label-md {
        width: 20%;
        margin: 0;
    }

    &.field-input-md {
        width: 30%;
        margin: 0;
    }


}

.required:after {
    content: " * ";
    color: #7f0303ed;
    font-weight: 600;
    // font-size: 5px;
}