<div class="main-wrapper">
    <div class="left-container"></div>
    <div class="container">
        <div class="note">
            <header>Note</header>
            <p>Hello User!, you have the flexibility to edit or change the details of your leave request as long as the
                request is in
                the "In Approval" state <br> Once your leave request moves to the "In Progress" state, modifications or
                edits are temporarily restricted.
                <br>This is to ensure a smooth and organized workflow during the processing of your request.
            </p>

        </div>
        <div class="action">
            <a router-link="['requests']">Back to my requests</a>
            <button id="cancel-btn">Cancel</button>
        </div>
        <ng-container *ngIf="request$">
            <app-leave-detail-info [request$]="request$"></app-leave-detail-info>
        </ng-container>

    </div>
</div>