<div class="main-wrapper">
    <div class="left-container"></div>
    <div class="container">
        <div class="header">
            <caption>Leave Request</caption>
            <img src="favorite-icon.png" alt="Favorite Icon">
        </div>
        <hr>
        <div class="expandable-container">
            <div class="expandable" [class.expanded]="showFullDescription">
                <h4>Description</h4>
                <p>The Leave Policy is a confidential document that outlines the policies and procedures for granting
                    employees time off from work. This document outlines the leave categories and the number of days
                    taken for each type. It also provides accrual, carrying over, and vacation time usage information.
                </p>

                <ng-container *ngIf="entitlement$ | async as val">

                    <p-table [value]="val.details!" styleClass="p-datatable-gridlines"
                        [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="caption"> {{val.policyName}} </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Leave Type</th>
                                <th>Provided</th>
                                <th>Taken</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-detail>
                            <tr>
                                <td>{{ detail.leaveType.leaveName }}</td>
                                <td>{{ detail.provided }}</td>
                                <td>{{ detail.taken }}</td>

                            </tr>
                        </ng-template>
                        <!-- <ng-template pTemplate="summary"> Footer </ng-template> -->
                    </p-table>

                </ng-container>

            </div>
            <div class="centered-button">
                <button (click)="toggleDescription()">{{ showFullDescription ? 'View Less' : 'View More' }}</button>
            </div>
        </div>
        <hr>
        <h5>Request Details</h5>
        <hr>
        <form [formGroup]="leaveReqForm" #myFormRef (ngSubmit)="onSubmit()">
            <div class="content">
                <div class="form-controls">
                    <label for="leave-type">Leave Type:</label>
                    <p-dropdown [options]="leaveTypes" formControlName="leaveType" placeholder="-" optionLabel="label"
                        optionValue="label" inputId="float-label" (onChange)="leaveTypeChange($event)"></p-dropdown>

                    <label for="balance">Balance:</label>
                    <input pInputText id="balance" formControlName="balance"
                        style="padding-top: 20px;width: 100%;margin-bottom: 5px;" />
                    <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton formControlName="dayType" value="One" (onClick)="onRadioDaytypeClick($event)"
                                inputId="type1"></p-radioButton>
                            <label for="type1" class="ml-2">One day</label>
                        </div>

                        <div class="flex align-items-center">
                            <p-radioButton formControlName="dayType" (onClick)="onRadioDaytypeClick($event)"
                                value="Multi" inputId="type2"></p-radioButton>
                            <label for="type2" class="ml-2">more than one day</label>
                        </div>

                    </div>

                    <label for="session">Session</label>
                    <p-dropdown [options]="sessions" formControlName="session" placeholder="-" optionLabel="label"
                        optionValue="label" inputId="float-label" (onChange)="onSessionChange($event)"></p-dropdown>


                    <label for="from-date">{{morethanOneDay ? "From Date" : "Date"}}</label>
                    <p-calendar placeholder="dd/mm/yyyy" [showIcon]="false" [readonlyInput]="true" inputId="calendar"
                        formControlName="fromDate" dateFormat="dd/mm/yy" dataType="string"
                        (onSelect)="onDateChange($event)"></p-calendar>

                    <ng-template [ngIf]="morethanOneDay">
                        <label for="to-date">To Date:</label>
                        <p-calendar placeholder="dd/mm/yyyy" [showIcon]="false" [readonlyInput]="true"
                            inputId="calendar" formControlName="toDate" dateFormat="dd/mm/yy" dataType="string"
                            [minDate]="minDate" (onSelect)="onDateChange($event)"></p-calendar>
                    </ng-template>

                    <label htmlFor="days">Days</label>
                    <input pInputText id="days" formControlName="days"
                        style="padding-top: 20px;width: 100%;margin-bottom: 5px;" />


                    <label for="reason">Reason:</label>
                    <textarea pInputTextarea id="reason" formControlName="reason"
                        style="padding-top: 20px;width: 100%;margin-bottom: 5px;"></textarea>
                </div>
            </div>
        </form>

    </div>

    <div class="button-container">
        <button id="request-btn" (click)="submitForm()">Request</button>
        <button id="cancel-btn">Cancel</button>
    </div>
</div>


<!-- <div class="card-holder">
    <div class="card">
        <form [formGroup]="leaveReqForm" (ngSubmit)="onSubmit()">
            <div class="flex justify-content-center align-items-center">
                <p-button icon="pi pi-angle-left" styleClass="p-button-rounded"></p-button>
                <h5>Leave Request</h5>
                <p-button icon="pi pi-check" styleClass="p-button-rounded" type="submit"></p-button>

            </div>
            <span class="p-float-label">
                <p-dropdown [options]="leaveTypes" formControlName="leaveType" placeholder="-" optionLabel="label"
                    optionValue="label" inputId="float-label" (onChange)="leaveTypeChange($event)"></p-dropdown>
                <label for="float-label">Leave Type</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="balance" formControlName="balance"
                    style="padding-top: 20px;width: 100%;margin-bottom: 5px;" />
                <label htmlFor="balance">Balance</label>
            </span>
            <span class="p-float-label">
                <p-dropdown [options]="sessions" formControlName="session" placeholder="-" optionLabel="label"
                    optionValue="label" inputId="float-label" (onChange)="onSessionChange($event)"></p-dropdown>
                <label for="float-label">Session</label>
            </span>
            <span class="p-float-label" >
                <p-calendar [showIcon]="false" [readonlyInput]="true" inputId="calendar" formControlName="fromDate"
                    dateFormat="dd/mm/yy" dataType="string" (onSelect)="onDateChange($event)"></p-calendar>
                <label for="calendar">From Date</label>
            </span>
            <span class="p-float-label" *ngIf="showToDate">
                <p-calendar [showIcon]="false" [readonlyInput]="true" inputId="calendar" formControlName="toDate"
                    dateFormat="dd/mm/yy" dataType="string" (onSelect)="onDateChange($event)"></p-calendar>
                <label for="calendar">To Date</label>
            </span>

            <span class="p-float-label">
                <input pInputText id="days" formControlName="days"
                    style="padding-top: 20px;width: 100%;margin-bottom: 5px;" />
                <label htmlFor="days">Days</label>
            </span>
           

            <p-fileUpload mode="basic" chooseLabel="Attachment" name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000">
                <ng-template pTemplate="toolbar">
                    <div class="py-3">Upload 3 Files</div>
                </ng-template>
                <ng-template let-file pTemplate="file">
                    <div>Custom UI to display a file</div>
                </ng-template>
                <ng-template pTemplate="content" let-files>
                    <div>Additional content.</div>
                </ng-template>
            </p-fileUpload>
            <span class="p-float-label">
                <input pInputText id="reason" formControlName="reason"
                    style="padding-top: 20px;width: 100%;margin-bottom: 5px;" />
                <label htmlFor="reason">Reason</label>
            </span>


            <p-calendar formControlName="fromDate">
                <ng-template pTemplate="date">
                    <span>test</span>
                </ng-template>
                <ng-template pTemplate="date" let-date>
                    <span
                        [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
                </ng-template>
            </p-calendar> -->

<!-- <span class="p-float-label">
                <input pInputText id="username" />
                <label htmlFor="username">Username</label>
            </span>
        </form>
    </div>
</div> -->