<div class="content-section introduction">
    <div class="feature-intro">
        <div class="field-flex">
            <h5>Create a employee</h5>

            <a href="#">
                <fa-icon [icon]="faCircleXmark"></fa-icon>
            </a>
        </div>
        <div class="field-flex">
            <p>ConfirmDialog is backed by a service utilizing Observables to display confirmation windows
                easily that can be shared by multiple actions on the same component.</p>
        </div>
    </div>

</div>
<div class="content-section implementation">
    <div class="card">
        <form [formGroup]="employeeForm">
            <div class="form-layout">
                <div class="form-layout content">
                    <h5>Base Details</h5>
                    <div class="grid p-fluid formgrid md:ml-2">
                        <div class="field col-12 md:col-6 md:mb-0 lg:col-5 lg:mb-0">
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">First Name</label>
                                <input id="username1" class="field-flex field-input" type="username"
                                    placeholder="first name" aria-describedby="username1-help" pInputText />

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Last Name</label>
                                <input id="username1" class="field-flex field-input" type="username"
                                    placeholder="last name" aria-describedby="username1-help" pInputText />

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Employee Code</label>
                                <input id="username1" class="field-flex field-input" type="username"
                                    placeholder="machine code" aria-describedby="username1-help" pInputText />

                            </div>

                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Birth Date</label>
                                <!-- <input id="username1" class="field-flex field-input" type="username" placeholder="machine code"
                                aria-describedby="username1-help" pInputText /> -->
                                <p-calendar [showIcon]="false" inputId=" icon"></p-calendar>

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Gender</label>
                                <div class="field-radiobutton">
                                    <p-radioButton name="gender" [(ngModel)]="gender"
                                        style="width: 5px; margin: 0 0.5rem;" value="Male"
                                        inputId="Male"></p-radioButton>
                                    <label for="Male"
                                        [style]="{'font-size': '0.75rem','font-weight':'Bold' ,'margin': '0 1rem'}">Male</label>
                                </div>
                                <div class="field-radiobutton">
                                    <p-radioButton name="gender" [(ngModel)]="gender"
                                        style="width: 5px; margin: 0 0.5rem;" value="Female"
                                        inputId="Female"></p-radioButton>
                                    <label for="Female"
                                        [style]="{'font-size': '0.75rem','font-weight':'Bold','margin': '0 1rem'}">Female</label>
                                </div>

                            </div>
                        </div>
                        <div class="field col-12 md:col-6 md:mb-0 lg:col-5 lg:mb-0">
                            <div class="field-flex" style="border-style: dashed; height: 100px; width: 100px;">

                            </div>
                            <div class="field-flex">

                            </div>

                        </div>
                    </div>
                    <hr>
                    <h5>Carrier Details</h5>
                    <div class="grid p-fluid formgrid md:ml-2">
                        <div class="col-12 md:col-6 md:mb-0 lg:col-5 lg:mb-0">
                            <div id='dddl' class="field-flex">
                                <label for="username1" class="field-flex field-label">Department</label>
                                <p-dropdown [options]="branches" formControlName="branchId" optionLabel="branchName"
                                    optionValue="id" placeholder="Select Branch"></p-dropdown>

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Division</label>

                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Designation</label>
                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Branch</label>
                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>

                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Team</label>
                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>

                        </div>
                        <div class="col-12 md:col-6 md:mb-0 lg:col-5 lg:mb-0">
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Join Date</label>
                                <!-- <input id="username1" class="field-flex field-input" type="username" placeholder="machine code"
                                aria-describedby="username1-help" pInputText /> -->
                                <p-calendar [showIcon]="false" inputId=" icon"></p-calendar>

                            </div>
                            <div id='dddl' class="field-flex">
                                <label for="username1" class="field-flex field-label">Role</label>
                                <p-dropdown [options]="branches" formControlName="branchId" optionLabel="branchName"
                                    optionValue="id" placeholder="Select Branch"></p-dropdown>

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Qualification</label>
                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>
                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Nature of Employee</label>

                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Optional Saturday</label>
                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>
                            <!-- <div class="field-flex">
                            <label for="username1" class="field-flex field-label">Branch</label>
                            <p-dropdown styleClass='field-flex field-input' [options]="branches" formControlName="branchId"
                                optionLabel="branchName" optionValue="id" placeholder="Select Branch"></p-dropdown>
    
                        </div> -->


                        </div>
                    </div>
                    <hr>
                    <h5>Other Details</h5>
                    <div class="grid p-fluid formgrid md:ml-2">
                        <div class="col-12 md:col-6 md:mb-0 lg:col-4 lg:mb-0">
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Martial Status</label>
                                <p-dropdown [options]="branches" formControlName="branchId" optionLabel="branchName"
                                    optionValue="id" placeholder="Select Branch"></p-dropdown>

                            </div>

                        </div>
                        <div class="col-12 md:col-6 md:mb-0 lg:col-4 lg:mb-0">
                            <div class="field-flex">
                                <label for="username1" class="field-flex field-label">Blood Group</label>

                                <p-dropdown styleClass='field-flex field-input' [options]="branches"
                                    formControlName="branchId" optionLabel="branchName" optionValue="id"
                                    placeholder="Select Branch"></p-dropdown>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-layout action">
                    <button pButton pRipple type="submit" label="Save" (click)="onSubmit()"></button>
                </div>
            </div>
        </form>
    </div>

</div>