<div class="content-section introduction">
    <div class="app-demoactions flex align-items-center justify-content-end h-full">
        <a href="#">
            <fa-icon [icon]="faCircleXmark"></fa-icon>
        </a>
    </div>
    <div class="feature-intro">
        <h1>ConfirmDialog</h1>
        <p>ConfirmDialog is backed by a service utilizing Observables to display confirmation windows
            easily that can be shared by multiple actions on the same component.</p>
    </div>

</div>
<div class="content-section implementation">
    <div class="flex align-items-center justify-content-start">
        <a [routerLink]="['../testOne']" class="menu-button">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
            <span>Add</span>
        </a>
        <a href="#" class="menu-button">
            <fa-icon [icon]="faCircleXmark"></fa-icon>
            <span>Manage</span>
        </a>
        <a href="#" class="menu-button">
            <fa-icon [icon]="faCircleXmark"></fa-icon>
            <span>Details</span>
        </a>
    </div>
    <p-table [value]="products1">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code" style="width:20%">Code <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="category" style="width:20%">Category <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity" style="width:20%">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="price" style="width:20%">Price <p-sortIcon field="price"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price | currency: 'USD'}}</td>
            </tr>
        </ng-template>
    </p-table>
    <hr>
</div>