.menu-button {
    display: flex;
    color: var(--text-color);
    height: 30px;
    line-height: 25px;
    padding: 1.3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s;
    cursor: pointer;
}